.dashboard-main-section{
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 1rem;
    font-family: 'roboto';
    color: rgb(241, 234, 234);
}
.today-total-sale{
    background-color: rgb(43, 117, 117);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    
}
.today-total-sale span{
    font-size: 1.2rem;
}
.today-total-sale h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.month-total-sale{
    background-color: rgb(109, 58, 156);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}
.month-total-sale span{
    font-size: 1.2rem;
}
.month-total-sale h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.today-total-purchase{
    background-color: rgb(63, 63, 145);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}
.today-total-purchase span{
    font-size: 1.2rem;
}
.today-total-purchase h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.month-total-purchase{
    background-color: rgb(173, 72, 72);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}
.month-total-purchase span{
    font-size: 1.2rem;
}
.month-total-purchase h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.description-icons{
    font-size: 2.5rem;
    padding: 1rem 0rem 0rem 0.5rem;
}
.today-total-due{
    background-color: rgb(93, 114, 45);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;

}
.today-total-due span{
    font-size: 1.2rem;
}
.today-total-due h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.present-month-total-due{
    background-color: rgb(69, 70, 70);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;

}
.present-month-total-due span{
    font-size: 1.2rem;
}
.present-month-total-due h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.total-customer{
    background-color: rgb(133, 39, 75);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}
.total-customer span{
    font-size: 1.2rem;
}
.total-customer h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.total-supplier{
    background-color: rgb(27, 11, 26);
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}
.total-supplier span{
    font-size: 1.2rem;
}
.total-supplier h4{
    font-size: 1.3rem;
    font-weight: 300;
}
