.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-top-logo img {
    width: 35px;
    height: 35px;
}

.header-top-logo span {
    font-family: 'roboto';
    font-size: 1.4rem;

}

.header-top-tittle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-top-tittle span {
    font-family: 'roboto';
    font-size: 1.2rem;
    cursor: pointer;
}

.header-top-tittle span::before {
    display: inline-block;
    padding: 0.5rem;
    color: #6c757d;
    content: "/";
}

.header-top-tittle span:first-child::before {
    display: inline-block;
    padding: 0.5rem;
    color: #6c757d;
    content: "";
}

.supplier-main-section {
    /* background-color: rgba(167, 167, 167, 0.4); */
    background-color: #ffff;
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 10%); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 2rem;



}

.supplier-search-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    font-family: 'roboto';
    padding: 1rem 1rem;




}

.supplier-search-option-input {
    /* width: 550px;
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    padding-right: 1.5rem; */
    display: grid;
    margin: 0rem 0.5rem;


}

.supplier-search-option-input label {
    padding-bottom: .4rem;
}

.supplier-search-option-input select {

    width: 100%;
    outline: none;
    padding: 0.4rem 0rem 0.4rem 0.5rem;

    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.supplier-search-option-input select option:first-child {
    display: none;
}

.supplier-search-option-input input {

    /* width: 100%; */
    outline: none;
    padding: 0.4rem 0rem 0.4rem 0.5rem;

    border-radius: 4px;
    border: 1px solid #eaeaea;
}


.supplier-search-btn button {
    width: 35%;
    margin-top: 1.5rem;
    margin-left: 0.6rem;
    margin-right: 0.5rem;
    padding: 0.3rem 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #18A745;
    color: #ffff;
    font-family: 'roboto';
    font-size: 1.2rem;
}

.supplier-search-btn button:hover {
    background-color: #148839;
}

.supplier-clear-btn button {

    margin-top: 1.5rem;

    padding: 0.3rem 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: crimson;
    ;
    color: #ffff;
    font-family: 'roboto';
    font-size: 1.2rem;
}

.supplier-clear-btn button:hover {
    background-color: rgb(168, 11, 43);
}

.add-supplier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #F6F7FB;
    padding-bottom: 2rem;
    padding: 1rem;
}

.add-supplier .total span {
    font-size: 1.3rem;
    font-family: 'roboto';
}

.add-supplier .total .total-amount {
    background-color: #6c757d;
    text-align: center;
    padding: 0.2rem 0.6rem;
    font-size: 1.1rem;
    color: #ffff;
    font-family: 'roboto';
    margin-left: 0.3rem;
    border-radius: 4px;
}

.add-supplier .create-supplier button {
    border: none;
    /* background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    ); */
    background-color: #18A745;
    padding: 0.5rem .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'roboto';
    color: #FFFF;
    border-radius: 4px;

}

.add-supplier .create-supplier button:hover {
    background-color: #148839;
}

.supplier-table {
    padding: 1rem;
}

.supplier-table table {
    font-family: 'roboto';
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;


}

.supplier-table table th {
    text-align: center;
    color: #6a7d91;
    font-weight: 400;
    background-color: #F6F7FB;
    border: 1px solid #ffff;
}

.supplier-table td,
th {
    border: 1px solid #f3f2f2;
    text-align: left;
    padding: 8px;
}

/* .supplier-table tr:nth-child(even) {
    background-color: #F6F7FB;
  } */
.supplier-table td:last-child {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.supplier-table .deleteBtn {
    color: crimson;
    border: 1px solid crimson;
    padding: 0.3rem 0.8rem;
    font-family: 'roboto';
    font-size: 0.9rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.supplier-table .deleteBtn:hover {
    color: #ffff;
    background-color: crimson;
}

.supplier-table .editBtn {
    color: #18A745;
    border: 1px solid #18A745;
    padding: 0.3rem 0.8rem;
    font-family: 'roboto';
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}

.supplier-table .editBtn:hover {
    color: #ffff;
    background-color: #18A745;
}