.all-sales-main-section{
    background-color: #ffff;
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 10%); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}
