.sales-profit-and-loss-main-section{
    background-color: #ffff;
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 10%); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 2rem;
}
.sales-profit-and-loss-main-section h3{
    font-size: 1.3rem;
    font-size: 'roboto';
    font-weight: 300;
    padding: 1rem;
    border-bottom: 1px solid #F6f7FB
}